<div style="margin-left:45px;">
  <h1>{{ title }}</h1>
  <div class="col-md-6 col-lg-6 well">
    <form [formGroup]="form" (ngSubmit)="save()">
      <fieldset>
        <legend>User</legend>
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" [(ngModel)]="user.name" formControlName="name" ngControl="name" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.name.touched && !form.controls.name.valid">
          Username is required
        </div>
        <div class="form-group">
          <label>Email</label>
          <input class="form-control" [(ngModel)]="user.email" formControlName="email" ngControl="email" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.email.touched && !form.controls.email.valid">
          Email is not valid
        </div>
        <div class="form-group">
          <label>Phone</label>
          <input class="form-control" [(ngModel)]="user.phone" formControlName="phone" ngControl="phone" type="text">
        </div>
      </fieldset>
      <fieldset formGroupName="address">
        <legend>Address</legend>
        <div class="form-group">
          <label>Street</label>
          <input class="form-control" [(ngModel)]="user.address.street" formControlName="street" ngControl="street" type="text">
        </div>
        <div class="form-group">
          <label>Suite</label>
          <input class="form-control" [(ngModel)]="user.address.suite" formControlName="suite" ngControl="suite" type="text">
        </div>
        <div class="form-group">
          <label>City</label>
          <input class="form-control" [(ngModel)]="user.address.city" formControlName="city" ngControl="city" type="text">
        </div>
        <div class="form-group">
          <label>ZipCode</label>
          <input class="form-control" [(ngModel)]="user.address.zipcode" formControlName="zipcode" ngControl="zipcode" type="text">
        </div>
      </fieldset>
      <button type="submit" class="btn btn-default" [disabled]="!form.valid">Submit</button>
    </form>
  </div>
</div>
